/* .center {
  position: absolute;
  margin: auto;
}

#start {
  position: absolute;
  margin-left: -50px;
  left: 50%;
  width: 100px;
  bottom: 0px;
}

#paxLabel {
  position: absolute;
  margin-left: 50px;
  left: 50%;
  width: 100px;
  bottom: 0px;
} */
