@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Covered+By+Your+Grace&family=Indie+Flower&display=swap");

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  font-family: "Indie Flower", cursive;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#body {
  background-image: linear-gradient(to right, #b91372, #6b0f1a);
}

.game {
  display: none;
  width: 1000;
}
#header {
  /* margin: 0 auto; */
  margin-left: 25%;
  position: absolute;
  object-fit: fill;
  max-height: 100%;
  max-width: 50%;
  font-size: xx-large;
  text-align: center;
  font-family: "Covered By Your Grace", cursive;
  color: #99ffdd;
  text-shadow: 5px 5px #2e2011;
}

#header2 {
  margin: 0%;
  top: 5%;
  margin-left: 95px;
  /* left: 49%; */
  position: relative;
  object-fit: contain;
  height: 100%;
  width: 50%;
  font-size: xx-large;
  font-family: "Abril Fatface", cursive;
  color: #e5c742;
  text-shadow: 3px 3px #2e2011;
}

#startPic {
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  object-fit: fill;
  height: 70%;
  width: 100%;
}

#mainImg {
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  object-fit: fill;
  height: 87%;
  width: 100%;
}

#next {
  position: absolute;
  margin-left: -50px;
  left: 50%;
  width: 100px;
  bottom: 0px;
  height: 50px;
  color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px #f0e5e9;
}

#start {
  position: absolute;
  margin-left: -50px;
  left: 50%;
  width: 100px;
  bottom: 0px;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px #f0e5e9;
}

#countDownLabel {
  position: relative;
  margin-left: -50px;
  left: 50%;
  text-align: center;
  color: white;
  display: none;
}

#countDown {
  position: relative;
  margin-left: -60px;
  left: 57%;
  text-align: center;
  color: white;
  display: none;
}
